/* list of author links - location / url */
.author-meta {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1;
    font-style: italic;
    color: #9eabb3;
}

.author-meta a {
    color: #9eabb3;
}

.author-meta a:hover {
    color: #111;
}

.author-meta {
    margin: 1.6rem 0;
}

/* Location, website, and link */
.author-profile .author-meta {
    margin: 2rem 0;
    font-family: "Merriweather", serif;
    letter-spacing: 0.01rem;
    font-size: 1.7rem;
}

.author-meta span {
    display: inline-block;
    margin: 0 2rem 1rem 0;
    word-wrap: break-word;
}

.author-meta a {
    text-decoration: none;
}

/* Turn off meta for page2+ to make room for extra
   pagination prev/next links */
.paged .author-profile .author-meta {
    display: none;
}

/* ==========================================================================
       Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .author-meta span {
        display: block;
        margin: 1.5rem 0;
    }

    .author-profile .author-meta span {
        font-size: 1.6rem;
    }
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .author-meta li {
        float: none;
        margin: 0;
        line-height: 1.75em;
    }

    .author-meta li::before {
        display: none;
    }

    .author-profile .author-meta span {
        font-size: 1.4rem;
    }
}
