/* The details of your blog. Defined in ghost/settings/ */
.page-title {
    margin: 10px 0;
    font-size: 5rem;
    letter-spacing: -1px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #fff;
}

.no-cover .page-title {
    color: rgba(0, 0, 0, 0.8);
}

/* Add subtle load-in animation for content on the home page */
.home-template .page-title {
    -webkit-animation: fade-in-down 0.6s;
    animation: fade-in-down 0.6s both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

/* ==========================================================================
   12. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .page-title {
        font-size: 4rem;
        letter-spacing: -1px;
    }
}

/* ==========================================================================
   13. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .page-title {
        font-size: 3rem;
    }
}

/* ==========================================================================
   14. Animations
   ========================================================================== */

/* Used to fade in title/desc on the home page */
@-webkit-keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
