/* Wraps the main content & footer */
.site-wrapper {
    position: relative;
    z-index: 10;
    min-height: 100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
}

.nav-opened .site-wrapper {
    overflow-x: hidden;
    -webkit-transform: translate3d(-240px, 0, 0);
    -ms-transform: translate3d(-240px, 0, 0);
    transform: translate3d(-240px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}
