/* ==========================================================================
       Footer - The bottom of every page
   ========================================================================== */

.site-footer {
    position: relative;
    margin: 8rem 0 0;
    padding: 1rem 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    color: #bbc7cc;
}

.site-footer a {
    color: #bbc7cc;
    text-decoration: none;
    font-weight: bold;
}

.site-footer a:hover {
    color: #bbc7cc;
    border-bottom: #bbc7cc 1px solid;
}

.poweredby {
    display: block;
    width: 45%;
    float: right;
    text-align: right;
}

.copyright {
    display: block;
    width: 45%;
    float: left;
}

/* ==========================================================================
   13. Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .site-footer {
        margin-top: 3rem;
    }

    .post-template .site-footer,
    .page-template .site-footer {
        margin-top: 0;
    }
}
